:root {
  /* FONT RESET TO USE REM UNIT MORE EASILY */
  font-size: 59%;

  /* COLOR PALLETE */
  --dark-green: #2d4a22;
  --background: #e5e5e5;
  --main-green: #49aa26;
  --white: #ffffff;
  --titles: #363f5f;
  --red: #e92929;
  --text: #969cb2;
}

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  background-color: var(--background);
  overflow-x: hidden;
}

.wrapper {
  margin-inline: 2rem;
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}

.srOnly {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

a {
  text-decoration: none;
}

/* HEADER ================================= */
header {
  background-color: var(--dark-green);
  display: flex;
  justify-content: center;
  height: 23.8rem;
  width: 100vw;
}

header img {
  margin-top: 4rem;
  width: 171.14px;
  height: 22.4px;
}

/* MAIN ==================================== */
main {
  margin-top: -10rem;
}

/* CARDS SECTION ============================ */
.cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.cards .card {
  width: 100%;
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 2.5rem 1.8rem 1.813rem 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.41rem;
  -webkit-box-shadow: 1px 8px 50px -15px rgba(0, 0, 0, 0.19);
  box-shadow: 1px 8px 50px -15px rgba(0, 0, 0, 0.19);
}

.cards .card .top {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--titles);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards .card .value {
  font-size: 3.6rem;
  line-height: 5.4rem;
  color: var(--titles);
}

.cards .card .value strong {
  font-weight: 500;
}

.cards .card.total {
  background-color: var(--main-green);
}

.cards .card.total .top span,
.cards .card.total .value {
  color: var(--white);
}

/* TRANSACTIONS SECTION ====================== */
.transactions {
  overflow-x: auto;
  margin-bottom: 5rem;
}

.transactions button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  margin-bottom: 2rem;
}

.transactions button a {
  color: var(--main-green);
  font-weight: 500;
}

.transactions button a:hover {
  color: var(--dark-green);
}

.transactions table {
  width: 100%;
  border-spacing: 0 0.5rem;
  -webkit-box-shadow: 1px 8px 50px -15px rgba(0, 0, 0, 0.19);
  box-shadow: 1px 8px 50px -15px rgba(0, 0, 0, 0.19);
}

.transactions th,
.transactions td {
  padding: 2rem 3.2rem;
  text-align: left;
}

.transactions th {
  color: var(--text);
}

.transactions td {
  background-color: var(--white);
}

.transactions tr {
  opacity: 0.7;
  border-radius: 0.5rem;
}

.transactions tr:hover {
  opacity: 1;
}

.transactions .description {
  color: black;
}

.transactions .income {
  color: var(--main-green);
}

.transactions .expense {
  color: var(--red);
}

.transactions .date {
  color: var(--text);
}

.transactions .deleteTransaction {
  cursor: pointer;
}
/* FOOTER =============================== */

/* MEDIA QUERIES ============================ */
@media (min-width: 900px) {
  :root {
    font-size: 62.5%;
  } 
  
  .wrapper {
    margin-inline: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section {
    width: 87rem;
  }

  .cards {
    flex-direction: row;
  }
}
