:root {
  /* FONT RESET TO USE REM UNIT MORE EASILY */
  font-size: 59%;

  /* COLOR PALLETE */
  --dark-green: #2d4a22;
  --background: #e5e5e5;
  --main-green: #49aa26;
  --white: #ffffff;
  --titles: #363f5f;
  --red: #e92929;
  --dark-red: #4a2222;
  --text: #969cb2;
}

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  background-color: var(--background);
  overflow-x: hidden;
}

.wrapper {
  margin-inline: 2rem;
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}

.srOnly {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

a {
  text-decoration: none;
}

button,
input {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* HEADER ================================= */
header {
  display: flex;
  justify-content: center;
  height: 23.8rem;
  width: 100vw;
}

header.green {
  background-color: var(--dark-green);
  transition: background-color 600ms;
}

header.red {
  background-color: var(--dark-red);
  transition: background-color 600ms;
}

header img {
  margin-top: 4rem;
  width: 171.14px;
  height: 22.4px;
}

/* MAIN ==================================== */
main {
  margin-top: -10rem;
}

/* CARDS SECTION ============================ */
.cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.cards .card {
  width: 100%;
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 2.5rem 1.8rem 1.813rem 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.41rem;
  -webkit-box-shadow: 1px 8px 50px -15px rgba(0, 0, 0, 0.19);
  box-shadow: 1px 8px 50px -15px rgba(0, 0, 0, 0.19);
}

.cards .card .top {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--titles);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards .card .value {
  font-size: 3rem;
  line-height: 5.4rem;
  font-weight: 500;
  color: var(--titles);
}

.cards .card .value strong {
  font-weight: 500;
}

.cards .card.total.green {
  background-color: var(--main-green);
}

.cards .card.total.red {
  background-color: var(--red);
}

.cards .card.total .top span,
.cards .card.total .value {
  color: var(--white);
}

/* TRANSACTIONS SECTION ====================== */
.transactions {
  overflow-x: auto;
  margin-bottom: 5rem;
}

.transactions button {
  margin-bottom: 2rem;
  color: var(--main-green);
  font-weight: 500;
}

.transactions button a:hover {
  color: var(--dark-green);
}

.transactions table {
  width: 100%;
  border-spacing: 0 0.5rem;
  -webkit-box-shadow: 1px 8px 50px -15px rgba(0, 0, 0, 0.19);
  box-shadow: 1px 8px 50px -15px rgba(0, 0, 0, 0.19);
}

.transactions th,
.transactions td {
  padding: 2rem 3.2rem;
  text-align: left;
}

.transactions th {
  color: var(--text);
}

.transactions td {
  background-color: var(--white);
}

.transactions tr {
  opacity: 0.7;
  border-radius: 0.5rem;
}

.transactions tr:hover {
  opacity: 1;
}

.transactions .description {
  color: black;
}

.transactions .income {
  color: var(--main-green);
}

.transactions .expense {
  color: var(--red);
}

.transactions .date {
  color: var(--text);
}

.transactions .deleteTransaction {
  cursor: pointer;
}

.transactions .editTransaction img {
  width: 2.8rem;
  height: 2.8rem;
}

/* MODAL =============================== */
.modalOverlay {
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms;
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.modalOverlay.open {
  border: initial;
  clip: initial;
  clip: initial;
  margin: initial;
  overflow: initial;
  padding: initial;

  visibility: visible;
  opacity: 1;
  top: 0;
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalOverlay.open .modal {
  background-color: var(--background);
  width: 100%;
  max-width: 56.8rem;
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  margin-inline: 2rem 2rem;
}

/* FORM ============================ */
form .inputGroup input {
  width: 100%;
  background-color: var(--white);
  border-radius: 0.5rem;
  height: 5rem;
  padding-inline: 2rem;
}

form .help {
  text-align: justify;
  color: var(--text);
  font-size: 1.4rem;
}

.inputGroup {
  margin-block: 2rem;
}

form .radioGroup {
  display: flex;
  width: 100%;
  gap: 1.5rem;
}

form input[type="radio"] {
  display: none;
}

form .radioGroup label {
  color: var(--main-green);
  font-weight: 500;
  border: 0.2rem solid var(--main-green);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  transition: 500ms;
  cursor: pointer;
}

form .radioGroup label:hover {
  color: var(--dark-green);
  border: 0.2rem solid var(--dark-green);
}

form input[type="radio"]:checked + label {
  background-color: var(--dark-green);
  color: var(--white);
  border: 0.2rem solid var(--darkgreen);
}

form .radioGroup #expenseLabel {
  color: var(--red);
  border: 0.2rem solid var(--red);
}

form .radioGroup #expenseLabel:hover {
  color: var(--dark-red);
  border: 0.2rem solid var(--dark-red);
}

form input[type="radio"]:checked + #expenseLabel {
  background-color: var(--dark-red);
  color: var(--white);
  border: 0.2rem solid var(--dark-red);
}

form .buttons {
  display: flex;
  gap: 1.5rem;
}

form .buttons button {
  width: 100%;
  padding-block: 2rem;
  transition: 500ms;
}

form #cancelButton {
  border: var(--red) 0.2rem solid;
  color: var(--red);
  font-weight: 500;
}

form #cancelButton:hover {
  border: var(--dark-red) 0.2rem solid;
  color: var(--white);
  background-color: var(--dark-red);
}

form #saveButton {
  border: var(--main-green) 0.2rem solid;
  background-color: var(--main-green);
  color: var(--white);
  font-weight: 500;
  border: var(--dark-green) 0.2rem solid;
  background-color: var(--dark-green);
}

form #saveButton:hover {
  border: var(--main-green) 0.2rem solid;
  background-color: var(--main-green);
}

/* MEDIA QUERIES ============================ */
@media (min-width: 900px) {
  :root {
    font-size: 62.5%;
  }

  .wrapper {
    margin-inline: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section {
    width: 87rem;
  }

  .cards {
    flex-direction: row;
  }
}
